
@media print {
  body * {
    visibility: hidden;
  }
  
  .ui-dialog,
  .ui-dialog * {
    visibility: visible;
  }
  
  .ui-dialog {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  button {
    display: none !important;
  }
}
